# ==========================================
# Configuración Base del Servidor
# ==========================================
# Puerto donde correrá el API Gateway localmente
PORT=3000

# ==========================================
# Autenticación y Seguridad
# ==========================================
# Secreto compartido utilizado para validar la firma de los tokens JWT.
# ¡Debe ser exactamente el mismo que usa el microservicio Auth!
JWT_SECRET=tu_clave_secreta_compartida_con_auth

# ==========================================
# Enrutamiento de Microservicios (Proxy)
# ==========================================
# URLs base de los microservicios internos a los cuales se redirigirá el tráfico.
# Asegúrate de no poner "/" al final de la URL.
AUTH_SERVICE_URL=http://localhost:3001
INVENTORY_SERVICE_URL=http://localhost:8081
PURCHASES_SERVICE_URL=http://localhost:8000